langchain 
langchain-huggingface 
langchain-openai
langchain-groq
langchain-community
datasets 
pypdf
python-dotenv
pandas == 2.3.3
flask
streamlit
setuptools
sentence-transformers
langchain-astradb

